html 
    include partials/header.pug
    main
        h1.title Welcome Buddy !
        h3.description here is some interesting infos dude ! FROM <a href="https://oceanfacts.herokuapp.com/" target="_blank">OCEAN FACTS</a>
        article.article 
        if !translate
            span.fact #{data.value}
        else
            span.fact #{data.translatedText}
        div.actions
            form.form(role='form' method='GET' action='/')
                button.btn What the Fact ! Dude
            unless translate 
                form.form(role='form' method='POST' action='/fact')
                    input.inputHide(type='text',value=data.value name="fact") 
                    button.btn Oh Dude, Save the Fact !
            unless translate
                form.form(role='form' method='POST' action='/' )
                    input.inputHide(type='text',value=data.value name="fact") 
                    button.btn Translate the fact ! Dude
        div.results
            div.classement Facts saved in postgres:
                ul
                for item in factsSaved
                    li.li Oh Dude ! #{item.content}
            div.classement History in Redis :
                ul
                for item in factsRedis
                    li.li Oh Dude this is in progress ! #{item.fact}
    include partials/footer.pug