html 
    include partials/header.pug
    main
        h1.title Welcome Buddy !
        h3.description here is some interesting infos
        article.article 
        if !translate
            span.fact #{data.value}
        else
            span.fact #{data.translatedText}
        div.actions
            form.form(role='form' method='GET' action='/')
                button.btn What the Fact ! Dude
            unless translate 
                form.form(role='form' method='POST' action='/fact')
                    input.inputHide(type='text',value=data.value name="fact") 
                    button.btn Save the Fact
            unless translate
                form.form(role='form' method='POST' action='/' )
                    input.inputHide(type='text',value=data.value name="fact") 
                    button.btn Translate
        div.classement Facts saved :
            ul
            for item in facts
                li.li #{item.content}
    include partials/footer.pug